CiCDTMstudioTest/Source/EH.DTMstudioTest.Plugin/EH.DTMstudioTest.Plugin/Common/EH.DTMstudioTest.Common/TransportObjects/DtmStudioTestData/XML/TempCoDIADTMstudioCoDIAData.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DTMstudioCoDIAData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DeviceTypeProject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Guid" type="xs:string" />
              <xs:element name="FDTDeviceTypeName" type="xs:string" />
              <xs:element name="DeviceFunctions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="DeviceFunction">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="Active" type="xs:boolean" />
                          <xs:element name="VersionString" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeviceTypeFramework">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FrameworkComponents">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="FrameworkComponent">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="VersionString" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>